.loading-map {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  color: aliceblue;
}

.map-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.my-location-btn {
  position: fixed;
  bottom: 1.7rem;
  right: 1rem;
  z-index: 9999;
  margin: 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 1.33;
}

.search-container {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: aliceblue;
  z-index: 9999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  border-radius: 5px;
  padding: 3px;
}

.pointer {
  cursor: pointer;
}
